[Socket]
ListenStream=/run/cynara/cynara-async.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=cynara.service

[Unit]
Wants=cynara.target
Before=cynara.target

[Install]
WantedBy=sockets.target
