[Socket]
ListenStream=/run/cynara/cynara.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=cynara.service

[Unit]
DefaultDependencies=no
Before=sockets.target

[Install]
WantedBy=sockets.target
