[Socket]
ListenStream=/run/cynara/cynara-monitor-get.socket
SocketGroup=security_fw
SocketMode=0060
SmackLabelIPIn=@
SmackLabelIPOut=@

Service=cynara.service

[Unit]
DefaultDependencies=no
Before=sockets.target

[Install]
WantedBy=sockets.target
