[Socket]
ListenStream=/run/cynara/cynara-agent.socket
SocketMode=0060
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=cynara.service

[Unit]
DefaultDependencies=no
Before=sockets.target

[Install]
WantedBy=sockets.target
