[Socket]
ListenStream=/run/cynara/cynara-admin.socket
SocketMode=0700
SmackLabelIPIn=@
SmackLabelIPOut=@

Service=cynara.service

[Unit]
DefaultDependencies=no
Before=sockets.target

[Install]
WantedBy=sockets.target
